extends layout

block content
  .Header

    .Logo
      a(href='') Logo
      
    input#Nav-burger.Nav-input(type='checkbox')
    label.Nav-burger(for='Nav-burger', alt='Open Menu')
      .top-bun
      .meat
      .bottom-bun
      
    nav#js-nav.Nav
    
      ul#js-nav-sub1.Nav-ul
        li
          a.Nav-link(href='') Home
            
          ul#js-nav-sub2.Nav-ul.Nav-sub
            li
              a.Nav-link.Nav-link--back(href='') < Back
            li
              a.Nav-link(href='') Type1
            li
              a.Nav-link(href='') Type2
            li
              a.Nav-link(href='') Type3
            li
              a.Nav-link(href='') Categorized

              ul#js-nav-sub3.Nav-ul.Nav-sub
                li
                  a.Nav-link.Nav-link--back(href='') < Back
                li
                  a.Nav-link(href='') Item1
                li
                  a.Nav-link(href='') LongerName
                li
                  a.Nav-link(href='') Item1

            li
              a.Nav-link(href='') Categorized
              
              ul#Nav-js-sub3.Nav-ul.Nav-sub
                li
                  a.Nav-link.Nav-link--back(href='') < Back
                li
                  a.Nav-link(href='') Other
                li
                  a.Nav-link(href='') Other
                li
                  a.Nav-link(href='') Other
                li
                  a.Nav-link(href='') Other
                  
        li
          a.Nav-link(href='') Pro
        li
          a.Nav-link(href='') Cars
        li
          a.Nav-link(href='') Blog
        li
          a.Nav-link(href='') Shop
